.home-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 20px;
}
.home-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.home-details>p{
  text-align: center;
}
.home-funtions{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Apply white text color on hover for dropdown items */
.dropdown-menu .dropdown-item:hover {
  color: black !important; 
}
.upload-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* =============Progress Bar ========================= */
.progress-block{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.progress-container {
  width: 60%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #000000;
  border-radius: 10px;
  transition: width 1s ease-in-out;
}

.progress-container .progress-bar {
  animation: progressAnimation 3s infinite;
}

@keyframes progressAnimation {
  0% {
      width: 0;
  }
  100% {
      width: 100%;
  }
}

/* ===========Media Queries ================ */
@media screen and (orientation :portrait) {
 .home-container{
  flex-direction: column;
  padding: 20px;
}
 .home-details{
  margin-bottom: 20px;
 }
 .home-details> h2{
  margin-bottom: 15px;
 }
 .home-funtions{
  margin-bottom: 20px;
 }
.input{
    width: 300px !important;
  }
}